<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <label class="navbar-brand">{{username}}</label>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="btn btn-dark" href="{{url_for('create_drug')}}">Create drug</a>
            <a href="{{url_for('logout')}}" class="btn btn-danger">Log out</a>
        </div>
    </div>
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Drug</th>
        <th scope="col">Symptom</th>
        <th scope="col">Contraindication</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    {% for drug in drugs %}
    <tr>
        <td>{{drug.drug_name}}</td>
        <td>{{drug.symptom_name}}</td>
        <td>{{drug.contraindication}}</td>
        <td>{{drug.price}}</td>
        <td class="d-flex justify-content-end">
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>
