{% extends "index.html" %}
 
{% block content %}
 
<!--https://www.codeply.com/go/nhbdi2FkJm-->
 
 
<div class="col-md-6 mx-auto">
 
    <!-- form card login -->
    <div class="card rounded-0">
 
        <div class="card-header">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">
 
            <form class="form" method="post">
                {{ form.hidden_tag() }}
 
                               
            <div class="form-group">
                {{ form.country_name.label }}
                {{ form.country_name(class_="form-control") }}
 
                {% if form.country_name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.country_name.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
                <div class="form-group">
                {{ form.country_population.label }}
                {{ form.country_population(class_="form-control") }}

                {% if form.country_population.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.country_population.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
                <div class="form-group">
                {{ form.country_balance.label }}
                {{ form.country_balance(class_="form-control") }}

                {% if form.country_balance.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.country_balance.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
                <div class="form-group">
                {{ form.country_government.label }}
                {{ form.country_government(class_="form-control") }}

                {% if form.country_government.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.country_government.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

 
                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->
 
</div>
 
</div>
 
 
 
 
{% endblock %}