<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sites Editing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
    <li class="nav-item"><a class="nav-link" href="/sites">Sites</a></li>
    <li class="nav-item"><a class="nav-link" href="/styles">Styles</a></li>
    <li class="nav-item"><a class="nav-link" href="/topicanalitycs">Topic Analytics</a></li>
    <li class="nav-item"><a class="nav-link" href="/block">Block</a></li>
    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
  </ul>

</nav>

<div class="container">

    <h1>Site</h1>

          <div>
              <div class="border p-1 m-1">
                  <p>
                      {{row.site_adress, row.site_name}}
                  </p>
              </div>
          </div>

    <form action = "/edit_sites" method = post>
        {{form.hidden_tag()}}
       <fieldset>
           <legend>Edit site</legend>
           <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              <div>
                  {{ form.site_adress.label }}      {{ form.site_adress }}
                  {{ form.site_name.label }}      {{ form.site_name }}
              </div>

             {{ form.submit }}
           </div>

       </fieldset>
    </form>

</div>

</body>
</html>