<!DOCTYPE html>
<html lang="en">
<head>
  <title>Styles</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
    <li class="nav-item"><a class="nav-link" href="/sites">Sites</a></li>
    <li class="nav-item"><a class="nav-link" href="/styles">Styles</a></li>
    <li class="nav-item"><a class="nav-link" href="/topicanalitycs">Topic Analytics</a></li>
    <li class="nav-item"><a class="nav-link" href="/block">Block</a></li>
    <li class="nav-item"><a class="nav-link" href="/server">Server</a></li>
    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
  </ul>

</nav>

<div class="container">

    <h1>Hosts</h1>

          <div>
              {% for row in data %}
                  <div class="border p-1 m-1">
                      <form action = "/insert" method = post>
                          <p>
                          {{row.hostname, row.price, row.speed, row.os_type}}
                          </p>
                      </form>
                  </div>
              {% endfor %}
          </div>

    <form action = "/insert" method = post>
       <fieldset>
           {{ form.hidden_tag() }}
           <legend>Add new host</legend>
           <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              <div>
                  {{ form.hostname.label }}      {{ form.hostname }}
                  {{ form.price.label }}      {{ form.price }}
                  {{ form.speed.label }}      {{ form.speed }}
                  {{ form.os_type.label }}      {{ form.os_type }}
              </div>

             {{ form.submit }}
          </div>

       </fieldset>
    </form>

</div>

</body>
</html>